# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --ignore
          - B6
          - --msg-filename
        stages: [ commit-msg ]
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.1
    hooks:
      - id: typos
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
    - id: markdownlint-fix
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-format
      - id: ruff-check
        args:
          - --fix
          - --exit-non-zero-on-fix
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --strict
        additional_dependencies:
          - "bentley-ottmann>=9.0.1,<10.0"
          - "decision>=0.4.0,<1.0"
          - "dendroid>=2.1.0,<3.0"
          - "ground>=12.0.0,<13.0"
          - "hypothesis>=6.150.2,<7.0"
          - "locus>=11.0.0,<12.0"
          - "pytest>=9.0.2,<10.0"
          - "reprit>=0.9.0,<1.0"
          - "setuptools"
          - "types-setuptools"
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        additional_dependencies:
          - "bentley-ottmann>=9.0.1,<10.0"
          - "decision>=0.4.0,<1.0"
          - "dendroid>=2.1.0,<3.0"
          - "ground>=12.0.0,<13.0"
          - "hypothesis>=6.150.2,<7.0"
          - "locus>=11.0.0,<12.0"
          - "pytest>=9.0.2,<10.0"
          - "reprit>=0.9.0,<1.0"
          - "setuptools"
          - "types-setuptools"
